/* styling for the navigation bar at the top of the page */

.nav-link {
  color: rgb(66, 125, 244);
  text-decoration: none;
  font-weight: bold;
}

.nav-link:hover {
  color: #f37575;
  text-decoration: none;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: black;
  height: 70px;
  padding: 0 20px;
}

nav a {
  display: inline-block;
  padding: 10px 15px;
  border-radius: 5px;
  background-color: lightgrey;
  color: black;
  font-weight: bold;
  text-decoration: none;
  margin: 0 10px;
}

nav a:hover {
  background-color: grey;
}
